<div> 
    <form action="/action_page.php" class="container">
      <h1>Login</h1>
      
      <br><label for="email"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="Username" required>     
  
      <br><label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <br><a routerLink="/Home"><button class=""> Login</button></a><br>
      
    
    </form>
</div>
<br><a routerLink="/Signup"><button class=""> Register</button></a><br>