<div> 
    <form style="font-size: 10pt;" id="newAssetForm">
      <h1>Post your status:</h1>
  
      <label for="text"><b>text</b></label>
      <textarea id="Text" name="Text" placeholder="Write something.." style="height:200px"></textarea>
  
      <!-- <br><button type="submit" class="btn">upload image</button>
        
      <br><button type="submit" class="btn">post</button> -->
    </form>
  </div>
  <button type="button" id="subNewForm" class="btn btn-primary">Submit</button> <br/><br/>
  <br><button type="submit" class="btn">sign out</button>
