<html>
  <body>
    <div> 
        <form onsubmit= "getPosts()" style="font-size: 10pt;" id="newAssetForm">
          <h1>Post your status now:</h1>
      
          <label for="Post"><b>text</b></label>
          <input type="string" id="Post" name="Post" placeholder="Write something.." style="height:200px">
      
          <!-- <br><button type="submit" class="btn">upload image</button>
            
          <br><button type="submit" class="btn">post</button> -->
          <button type="button" id="subNewForm" class="btn btn-primary">Submit</button> <br/><br/>
        </form>
      </div>
    
      <div class="col-8" style="text-align: left;" >
        <div style="padding:5px;">
          <button  id = "retPosts" type="button" class="btn btn-primary">View Posts</button>
        </div>

        <div id="PostList">

          <h4>Please click the view Images button if you wish to view images on the system.</h4>

        </div>
      </div>

      <br><button type="submit" class="btn">sign out</button>
  </body>
</html>